

@import "./vairables";
@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./abstracts/general";
@import "./components/nav";
@import "./components/header";
@import "./components/services";
@import "./components/specialists";
@import "./components/appointments";
@import "./components/footer";



$colors:(
  "white":"$white-color",
  "color-2":"$secondary-color"
);

@each $name, $color in $colors {
  .color-#{$name} {
    height: 16px;
    width: 16px;
    color: $color;
  }
}