@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");


    
$primary-color: #480ca8 !default;
$primary-color-variant: #4cc9f0 !default;
$secondary-color: #f72585 !default !default;
$white-color: #ffffff !default;
$light-color: rgba($white-color, 0.7) !default;
$black-color: #0c031b !default;
$dark-color: rgba($black-color, 0.7) !default;
$success-color: #54eb72 !default;
$container-lg: 82% !default;
$container-md: 90% !default;
$normal-font-size:1.1rem !default;
$heading-font-size:2rem !default;
$font-face:"Montserrat", sans-serif !default;
